@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Future";
}
<h1>@ViewData["Title"]</h1>

<p>
    I expect my future job to have at least a couple of these qualities but ideally I'd like them all.
    <ul>
        <li>
           <p>1) Make a substancial amount of money (About 60k)</p>
        </li>
        <li>
            <p>2) Work on more creative projects like character or level building or design</p>
        </li>
        <li>
            <p>3) Have fun at my job so I don't feel like I'm actually working (I know, unheard of)</p>
        </li>
        <li>
            <p>4) Don't get pushed over by people, especially coworkers, when presenting and/or working on tasks</p>
        </li>
       
    </ul>
</p>

