@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url("images\wood-texture-png-6.png");
        background-repeat: no-repeat;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Feather Falls Game Collection!!!!</h1>
   
    <p > 
        
    </p>
    <p>
        This website is a free to loan game downloader that you can use to play their favourites.
    </p>
    <p>
        If a game isn't available in the Collection, please Add it in the Add Game tab and
    </p>
    <p>
        if you've beaten or got bored of a game, delete it to free up space. 
    </p> 
    <p>
        Have Fun Gaming!! :)
    </p>
</div>
