@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url("images\wood-texture-png-6.png");
        background-repeat: no-repeat;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Hi! I'm Stephenie.</h1>
    <img src="/images/IMG_1087.jpg" width="130" height="130" />
    <p > 
        <b>Welcome to my About me website!</b>
    </p>
    <p>
        I'm in my second year at Neumont and in the Software and Game Development Degree.
    </p>
    <p>
        I love to do lots of creative things like read, write, and paint to name a few hobbies.
    </p>
    <p>
        As of now, I'm having fun and trying to destress still from last quarter but we're all smiles. :)
    </p>
    <img src="/images/ssdiablopainting.png" width="300" height="300" />
</div>
