@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>@ViewData["Title"]</h1>
<form asp-controller="Home" asp-action="MadlibsOutput" method="post">

    <div class="row">
        <div class="col-12">
            <label for="Adj1">Adjective:</label>
            <input id="Adj1" type="text" name="Adj1" placeholder="Type an Adjective" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Nat1">Nationality:</label>
            <input id="Nat1" type="text" name="Nat1" placeholder="Type a Nationality" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Pers1">Person:</label>
            <input id="Pers1" type="text" name="Pers1" placeholder="Type a Person" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Noun1">Noun:</label>
            <input id="Noun1" type="text" name="Noun1" placeholder="Type a Noun" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Adj2">Adjective:</label>
            <input id="Adj2" type="text" name="Adj2" placeholder="Type an Adjective" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Noun2">Noun:</label>
            <input id="Noun2" type="text" name="Noun2" placeholder="Type a Noun" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Adj3">Adjective:</label>
            <input id="Adj3" type="text" name="Adj3" placeholder="Type an Adjective" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Adj4">Adjective:</label>
            <input id="Adj4" type="text" name="Adj4" placeholder="Type an Adjective" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Noun3"> Plural Noun:</label>
            <input id="Noun3" type="text" name="Noun3" placeholder="Type a Plural Noun" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Noun4">Noun:</label>
            <input id="Noun4" type="text" name="Noun4" placeholder="Type a Noun" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Num1">Number:</label>
            <input id="Num1" type="text" name="Num1" placeholder="Type a Number" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Sha1">Shape:</label>
            <input id="Sha1" type="text" name="Sha1" placeholder="Type a Shape" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="food1">Food:</label>
            <input id="food1" type="text" name="food1" placeholder="Type a food" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="food2">Food:</label>
            <input id="food2" type="text" name="food2" placeholder="Type a food" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="Num2">Number:</label>
            <input id="Num2" type="text" name="Num2" placeholder="Type a Number" />
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <button type="submit">Submit</button>
        </div>

    </div>

</form>